
nav ul a,
nav .brand-logo {
  color: rgb(228, 0, 0);
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: maroon;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;

}
.page-footer{
  background-color: maroon;
  color: black;
}
.header{
  color: red;
}
nav{
  position: fixed;
  top: 0vh;
  z-index: 100000000000000;
  background: transparent;
}